/* Stylesheet */

.banner {
    padding: 5px;
    border-left: 5px solid rebeccapurple;
    border-bottom: 5px solid rebeccapurple;
    margin-bottom: 25px;
}
    
.center {
    border: solid 1px black;
    display: inline-block;  
}

.bannerlist {
    float: left;
}

.center ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple;    
}

.bannerlist > a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.bannerlist > a:hover {
    background-color: aquamarine;
}