/* Stylesheet */
/* 
.list {
    color: red;
    background-color: yellow;
}

.center {
    text-align: center;
    list-style-position: inside;
}
 */

/* TEST BOX METHOD */
.banner {
    border-bottom: 8px dotted aqua;
}

.header-box {
    border-left: 5px solid rebeccapurple;

}