/* Stylesheet */

.banner {
    border-bottom: 8px dotted aqua;
}

.header-border {
    margin-left: 25px;
    padding-left: 25px;
    border-left: 5px solid rebeccapurple;
    border-bottom: 5px solid rebeccapurple;
    margin-right: 700px;
}

.olist,
.center,
.list
 {     
    /* border: 1px solid black; */
    display: inline;
    /* font: black; */
}